/* ===============================
   FEATURE CARD SKELETON SHIMMER
================================= */
/* ===== SHIMMER BASE ===== */
.skeleton {
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s linear infinite;
}

/* Animation */
@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

/* ===== HERO SKELETON ===== */
.skeleton-hero {
  background: #f5f5f5 !important;
  min-height: 520px;
  position: relative;
}

/* REMOVE hero overlay */
.skeleton-hero::before {
  display: none !important;
}
.skeleton-subtitle {
  width: 200px;
  height: 16px;
  margin-bottom: 15px;
}

.skeleton-title {
  width: 100%;
  height: 42px;
  margin-bottom: 12px;
}

.skeleton-title.short {
  width: 70%;
}

.skeleton-text {
  width: 100%;
  height: 14px;
  margin-bottom: 8px;
}

.skeleton-text.short {
  width: 60%;
}

.skeleton-btn {
  width: 150px;
  height: 45px;
  display: inline-block;
  margin-right: 12px;
}

.skeleton-btn.outline {
  width: 140px;
}


.skeleton-card {
  padding: 20px 25px;
  border-radius: 50px 50px 50px 0px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

/* shimmer animation */
/* .skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.4s infinite;
}

/* keyframes */
/* @keyframes shimmer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}  */

/* skeleton elements */
.skeleton-count,
.skeleton-icon,
.skeleton-line {
  background-color: #e0e0e0;
  border-radius: 6px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
}

.skeleton-count {
  width: 60px;
  height: 40px;
}

.skeleton-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  border-radius: 50% !important;
}

.skeleton-content .skeleton-title {
  width: 80%;
  height: 20px;
}

.skeleton-content .skeleton-text {
  width: 100%;
  height: 14px;
}

.skeleton-content .skeleton-text.sm {
  width: 60%;
}

/* optional: smooth rounded edges */
/* .skeleton-card .skeleton-count,
.skeleton-card .skeleton-icon,
.skeleton-card .skeleton-line {
  border-radius: 8px;
} */

/* ABOUT SEKELOTON SHIMMER */

.skeleton-img-skeleton,
.skeleton-line,
.skeleton-circle,
.about-experience-skeleton,
.skeleton-btn {
  position: relative;
  background: #e0e0e0;
  overflow: hidden;
  /* border-radius: 8px; */
}

/* ===== SHIMMER EFFECT ===== */
/* .skeleton-img-skeleton::after,
.skeleton-line::after,
.skeleton-circle::after,
.skeleton-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.3s infinite linear;
}

@keyframes shimmer {
  100% {
    transform: translateX(300%);
  }
} */

/* ===== IMAGE SIZES (MATCH DESIGN) ===== */
.img-1-skeleton {
  height: 370px;
  border-radius: 80px 80px 0 80px!important;
}
.img-2-skeleton {
  height: 270px;
  width: 270px;
  border-radius: 50%!important;
}
.img-3-skeleton {
  height: 280px;
  border-radius: 0 80px 80px 80px!important;
}

.about-experience-skeleton {
  padding: 15px 20px 15px 15px;
  border-radius: 50px 50px 50px 0;
}

/* ===== TEXT ===== */
.skeleton-line {
  height: 14px;
  margin-bottom: 10px;
}

.h-lg {
  height: 26px;
}

.w-40 {
  width: 40%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}

/* ===== EXPERIENCE ICON ===== */
.skeleton-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 12px;
}

/* ===== BUTTON ===== */
.skeleton-btn {
  width: 180px;
  height: 48px;
  border-radius: 30px;
}

/* Counter skeleton css  */

.counter-box-skeleton {
  position: relative;
  background: #f0f0f070;
  overflow: hidden;
  padding: 20px;
  border-radius: 12px;
  /* border-radius: 50%; */
}

/* shimmer */
.skeleton-circle-counter::after,
.skeleton-line-counter::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.3s infinite linear;
}

@keyframes shimmer {
  100% {
    transform: translateX(300%);
  }
}

/* sizes */
.skeleton-circle-counter {
  width: 85px;
  height: 85px;
}

.skeleton-line-counter {
  height: 14px;
  border-radius: 6px;
}

.h-lg {
  height: 40px;
}

.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}

/* Course Skeleton css  */

.course-skeleton-img,
.course-skeleton-tag,
.course-skeleton-line,
.course-skeleton-bottom-line {
  position: relative;
  overflow: hidden;
  background: #e5e5e5;
}

/* shimmer effect */
.course-skeleton-img::after,
.course-meta-skeleton::after,
.course-skeleton-line::after,
.course-skeleton-bottom-line::after,
.course-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.3s infinite linear;
  overflow: hidden;
}

@keyframes shimmer {
  100% {
    transform: translateX(300%);
  }
}

/* specific elements */
.course-skeleton-img {
  width: 100%;
  height: 220px;
  border-radius: 50px 50px 50px 0;
}

.course-skeleton-tag {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 150px;
  height: 30px;
  border-radius: 40px 40px 40px 0;
}

.course-skeleton-line {
  height: 14px;
  border-radius: 15px;
}
.course-bottom-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid var(--border-info-color);
}

.h-lg {
  height: 26px;
}

.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}

.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 14px;
}

/* Team Skeleton css  */

.team-skeleton-img,
.team-skeleton-line,
.team-social-btn-skeleton {
  position: relative;
  overflow: hidden;
  background: #e6e6e6;
}

/* shimmer */
.team-skeleton-line::after,
.team-social-btn-skeleton::after,
.team-skeleton-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.3s infinite linear;
}

@keyframes shimmer {
  100% {
    transform: translateX(300%);
  }
}

/* image */
.team-skeleton-img {
  width: 100%;
  height: 290px;
  border-radius: 50px 50px 50px 0;
}

/* text */
.team-skeleton-line {
  height: 16px;
  border-radius: 15px;
}

.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}

.mt-2 {
  margin-top: 10px;
}

/* circles */
.team-social-btn-skeleton {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 4px;
}

.team-skeleton-circle-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Choose Skeleton css  */

/* .skeleton {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.08) 25%,
    rgba(255, 255, 255, 0.18) 37%,
    rgba(255, 255, 255, 0.08) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 6px;
}

/* Anim */
/* @keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}  */

/* Specific Sizes */
.skeleton-tagline {
  width: 180px;
  height: 18px;
  margin-bottom: 12px;
}

.skeleton-title {
  width: 90%;
  height: 36px;
  margin-bottom: 15px;
}

.choose-items-skeleton {
  border-radius: 50px 50px 50px 0;
  padding: 15px 15px 15px 0;
}
.skeleton-text {
  width: 100%;
  height: 14px;
  margin-bottom: 10px;
}

.skeleton-text.short {
  width: 70%;
}

.skeleton-icon {
  width: 80px;
  height: 80px;
  line-height: 75px;
  text-align: right;
  border-radius: 50px 50px 50px 0;
  padding-right: 12px;
  margin-left: -12px;
}

.skeleton-card-title {
  width: 80%;
  height: 18px;
  margin-bottom: 8px;
}

.skeleton-card-text {
  width: 100%;
  height: 12px;
}

.skeleton-image {
  width: 100%;
  height: 600px;
  border-radius: 30% 0 30% 30%;
}

/* Gallery Skeleton css  */

/* Base */
.skeleton {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.08) 25%,
    rgba(0, 0, 0, 0.15) 37%,
    rgba(0, 0, 0, 0.08) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 8px;
}

/* Sizes */
.skeleton-tagline {
  width: 160px;
  height: 18px;
  margin-bottom: 12px;
}

.skeleton-title {
  width: 85%;
  height: 36px;
  margin-bottom: 14px;
}

.skeleton-text {
  width: 100%;
  height: 14px;
  margin-bottom: 8px;
}

.skeleton-text.short {
  width: 70%;
}

/* Gallery */
.skeleton-gallery-img {
  width: 100%;
  height: 300px;
  border-radius: 50px 50px 50px 0;
}

/* .skeleton-gallery-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 15px auto;
} */

/* Animation */
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* Department skelton css  */

/* Department Skeleton */
.skeleton-dept-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* margin: 0 auto 15px; */
}

.skeleton-dept-title {
  width: 80%;
  height: 18px;
  /* margin: 0 auto 12px; */
}

/* Courese Skeleton css  */

.skeleton-course-img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  border-radius: 30px 30px 30px 0;
}

.skeleton-tag {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  right: -15px;
}

/* .skeleton-icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
} */

.skeleton-meta {
  width: 90px;
  height: 14px;
}

.skeleton-rating {
  width: 70px;
  height: 14px;
}

.skeleton-course-title {
  width: 100%;
  height: 25px;
  margin: 15px 0;
}

.skeleton-course-text {
  width: 100%;
  height: 14px;
  margin-bottom: 8px;
}

.skeleton-course-text.short {
  width: 80%;
}

.skeleton-price {
  width: 60px;
  height: 18px;
}

/* Team Skeleton CSS  */

.skeleton-team-img {
  width: 100%;
  height: 280px;
  border-radius: 50px 50px 50px 0;
}

.skeleton-name {
  width: 70%;
  height: 18px;
}

.skeleton-role {
  width: 50%;
  height: 14px;
}

.skeleton-social {
  position: absolute;
  margin-bottom: 10px;
  text-align: center;
  top: 50px;
  right: 0px;
  /* bottom: 0; */
}

.skeleton-social-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

/* Blog Skeleton Css  */

.skeleton-blog-img {
  width: 100%;
  height: 230px;
  border-radius: 30px 30px 30px 0;
}

.skeleton-date {
  width: 150px;
  height: 32px;
  border-radius: 40px 40px 40px 0;
}

.skeleton-meta {
  width: 90px;
  height: 14px;
}

.skeleton-blog-title {
  width: 100%;
  height: 20px;
  margin: 15px 0;
}

.skeleton-btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
}
